@keyframes rollout {
  0% {
    transform: translateY(-100px);
  }
  100% {
    transform: none;
  }
}

.titleHomeWrapper {
  display: flex;
  justify-content: center;
  padding-top: 150px;
  animation: rollout 0.4s;
}

.homeTitle {
  color: #fff;
  font-weight: 800;
  text-shadow: -1px -1px 1px rgba(158, 150, 179, .1), 1px 1px 1px rgba(255, 255, 255, .5);
}